main {
  text-align: center;
}

main h2 {
  font-size: 30px;
  line-height: 100px;
}

form input {
  width: 150px;
  height: 30px;
  padding: 0;
  font-size: 18px;
  box-shadow: 1px 2px 4px rgb(0 0 0 / 15%);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: "1px black solid";
  text-align: center;
}

input:hover {
  background-color: rgb(131, 223, 234);
}

div {
  margin-top: 40px;
}

button {
  width: 70px;
  height: 30px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 2px 4px rgb(0 0 0 / 15%);
  background-color: rgb(255, 213, 0);
  color: rgb(0, 0, 0);
}

@media screen and (max-width: 425px) {
  main h2 {
    font-size: 20px;
  }
  label {
    display: block;
  }
  div {
    margin-top: 40px;
  }
}
@media screen and (min-width: 426px) and (max-width: 777px) {
}

@media screen and (min-width: 778px) and (max-width: 1023px) {
}

@media screen and (min-width: 1024px) {
}
