body {
  margin: 0;
}

body header {
  height: 90px;
  background-color: rgb(23, 19, 255);
}

a {
  text-decoration: none;
}

h1 {
  max-width: 1000px;
  margin: auto;
  line-height: 85px;
  font-size: 20px;
  font-weight: 300;
  color: white;
}

@media screen and (max-width: 425px) {
  body header {
    height: 50px;
  }

  h1 {
    font-size: 15px;
    line-height: 50px;
    max-width: 350px;
  }
}
@media screen and (min-width: 426px) and (max-width: 777px) {
  h1 {
    max-width: 650px;
  }
}

@media screen and (min-width: 778px) and (max-width: 1023px) {
}

@media screen and (min-width: 1024px) {
}
